<!doctype html>
<html ng-app>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MyApp</title>
  <base href="/">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <script src="https://cdn.bootcss.com/angular.js/1.4.6/angular.min.js"></script>
</head>

<body>
  <label>Name:</label>
  <input type="text" ng-model="yourName" placeholder="Enter a name here">
  <hr/>
  <h1>hello {{yourName}}!</h1>
  <app-root></app-root>

  <!-- ng-init 指令初始化 AngularJS 应用程序变量。 -->
  <div ng-app="" ng-init="firstName1='wcd'">
    <p>姓名为
      <span ng-bind="firstName1"></span>
    </p>
  </div>

  <div data-ng-app="" data-ng-init="firstName='wuchendi'">
    <p>姓名为
      <span data-ng-bind="firstName"></span>
    </p>
  </div>

  <div ng-app="">
    <p>表达式：5*5={{ 5 * 5 }}</p>
  </div>

  <!-- 数字 -->
  <div ng-app="" ng-init="quantity1=10;cost1=5">
    <p>总价： {{ quantity1 * cost1 }}</p>
  </div>
  <div ng-app="" ng-init="quantity=1;cost=5">
    <p>总价：
      <span ng-bind="quantity * cost"></span>
    </p>
  </div>

  <!-- 字符串 -->
  <div ng-app="" ng-init="firstName3='w';lastName3='chendi'">
    <p>姓名： {{ firstName3 + " " + lastName3 }}</p>
  </div>
  <div ng-app="" ng-init="firstName4='wu';lastName4='chendi'">
    <p>姓名：
      <span ng-bind="firstName4 + ' ' + lastName4"></span>
    </p>
  </div>

  <!-- 对象 -->
  <div ng-app="" ng-init="person1={firstName5: 'wu',lastName5: 'chendi'}">
    <p>姓为 {{person1.firstName5}}</p>
  </div>
  <div ng-app="" ng-init="person2={firstName6: 'wu',lastName6: 'chendi'}">
    <p>姓为
      <span ng-bind="person2.firstName6"></span>
    </p>
  </div>

  <!-- 数组 -->
  <div ng-app="" ng-init="points=[1,15,20,2,40]">
    <p>第三个值为{{points[2]}}</p>
  </div>
  <div ng-app="" ng-init="points2=[1,15,19,2,40]">
    <p>第三个值为
      <span ng-bind="points2[2]"></span>
    </p>
  </div>

  <div ng-app="myApp" ng-controller="myCtrl">
    名:
    <input type="text" ng-model="firstName2">
    <br> 姓:
    <input type="text" ng-model="lastName2">
    <br>
    <br> 姓名: {{firstName2 + " " + lastName2}}
  </div>

  <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope) {
      $scope.firstName2 = "John";
      $scope.lastName2 = "Doe";
    });
  </script>

</body>

</html>