<p>heroes works!</p>
<h2>{{ hero.name }} Details</h2>
<div>
  <span> id: </span>{{hero.id}}</div>
<div>
  <span>name:</span>{{hero.name}}</div>

<!-- 绑定表达式中的 uppercase 位于管道操作符（ | ）的右边，用来调用内置管道 UppercasePipe。 -->
<h2>{{ hero.name | uppercase }} Details</h2>

<div>
  <label>name:
    <input [(ngModel)]='hero.name' type="text" placeholder="name">
    <br>
  </label>
</div>

<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor='let hero of heroes' 
  [class.selected]="hero === selectedHero" 
  (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span>{{hero.name}}
  </li>
</ul>
<app-hero-detail [hero]="selectedHero"></app-hero-detail>

<div *ngIf="selectedHero">
  <h2>{{ selectedHero.name | uppercase }} Details</h2>
  <div>
    <span>id:</span>{{selectedHero.id}}</div>
  <div>
    <label>name:
      <input type="text" [(ngModel)]="selectedHero.name" placeholder="name">
    </label>
  </div>
</div>
<hr>